.form-input {
  display: inline-block;
  justify-content: center;
  margin: 5px;
}

.formText {
  display: inline-block;
  margin: 4px;
  padding: 5px;
  width: 500px;
}

.formText button {
  width: 150px;
  height: 70px;
}

.formText input {
  width: 230px;
}

.adminTop {
  background-color: aqua;
}

